# work with direnv https://direnv.net/
# also, see https://github.com/direnv/direnv/wiki/Nix#hand-rolled-nix-flakes-integration
watch_file flake.nix
watch_file flake.lock
eval "$(nix print-dev-env)"

